body {
  background-image: url(https://wallpaperaccess.com/full/1089608.png);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  width: 90vmin;
  height: 90vh;
  display: grid;
  gap: 10px;
}

.easyBoard {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.mediumBoard {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.hardBoard {
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
}

.gameCard {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 80%;
  height: 80%;
  border-radius: 5px;
}

.cardImage.hide {
  visibility: hidden;
}
